/*general*/

@font-face {
    font-family: Raleway;
    src: url(../fonts/static/Raleway-Regular.ttf) format("truetype");
}

/* taille de la page web*/

  html, body {
   /* display: flex; */
   /* flex-direction: column;*/
   /*font-family: Raleway, sans-serif;*/
   /* text-decoration: none;*/
    /* max-width: 900px; */
    /* margin-right: 3%; */
} 

.logo {
    margin-left: 3.5%;
}

a:link {
    padding-top: 20px;
    text-decoration: none;
}

.haut1 {
    width: auto;
}

header {
    width: 100%;
}

* {
    box-sizing: border-box;
}
.titereetparagraphe{
    margin-left: 3%;
}

.TrouvezvotreHebergement {
    margin-left: 2%;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 2%;
}

.centreville {
    font-size: 11px;
    margin-left: 2%;
    margin-top: 5px;
    margin-left: 2%; 
}

.locationetBtn {
    display: inline-flex;
    flex-direction: row;
    margin-left: 1.9%;
    font-size: 12px;
    margin-left:4%; 
}

.infoI {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 3%;
}

.plude500 {
    width: fit-content;
    margin-top: 7px;
    margin-left: 10px;
    font-size: 12px;
}

.lescartesdemarseille {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    align-items: flex-start;
    margin-left: 2%;
}

.lescartes {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-items: center;
    background-color: #f2f2f2;
    border-radius: 12px;
    padding: 10px;
    margin: 0px 0px 0px 0px;
    border: 1px solid #f2f2f2;
    font-size: 9px;
    margin-left: 2%;
}

.Cartehotel {
    box-shadow: 0 0 20px #0000002e;
    border: 3px solid white;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 0px;
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin-left: 2%;
}

.Cartehotel:hover {
    transform: scale(1.2);
}

.carte {
    background-color: #ffff;
    text-align: start;
    width: 165px;
    height: 85px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 1px;
    margin-bottom: 0px;

}

.b {
    background-color: #f2f2f2;
    border-radius: 12px;
    width: 640px;
    height: min-content;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid #f2f2f2;
    font-size: 9px;
    margin-left: 2%;
}

.b1 {
    display: inline-flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 12px;
    height: max-content;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 10px;
    /* margin-left:20px; */
    margin-top: 10px;
    /* margin-right: 10px; */
    margin-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2%;
}

.Btns {
    border: 1px solid #f2f2f2;
    width: 160px;
    height: 35px;
    font-weight: bold;
    font-size: 12px;
}

.rechercher {
    display: block;
    font-weight: bold;
    font-size: 12px;
}

.Btn {
    width: 90px;
    height: 35px;
    color: white;
    background-color: #0065fc;
    border: 1px solid #0065fc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: bold;
    margin-left: -12px;
    visibility: visible;
}

.filtres {
    margin: 15px;
    padding: 0px;
    font-size: small;
}

.icones {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    margin-left: 3%;
    margin-top: 10px;
    padding: 0px;
}

.fa-money-bill {
    width: 32px;
    height: 32px;
    border: 1px solid #deebff;
    background-color: #deebff;
    color: #0065fc;
    border-radius: 50%;
    box-shadow: 1px 1px 0.5px#F2F2F2;
    margin-right: 7px;
    padding-top: 8px;
}

.fa-child {
    width: 32px;
    height: 32px;
    border: 1px solid #deebff;
    background-color: #deebff;
    color: #0065fc;
    border-radius: 50%;
    box-shadow: 1px 1px 0.5px#F2F2F2;
    margin-right: 7px;
    padding-top: 8px;
}

.fa-heart {
    width: 32px;
    height: 32px;
    border: 1px solid #deebff;
    background-color: #deebff;
    color: #0065fc;
    border-radius: 50%;
    box-shadow: 1px 1px 0.5px#F2F2F2;
    margin-right: 7px;
    padding-top: 8px;
}

.fa-dog {
    width: 32px;
    height: 32px;
    border: 1px solid #deebff;
    background-color: #deebff;
    color: #0065fc;
    border-radius: 50%;
    box-shadow: 1px 1px 0.5px#F2F2F2;
    margin-right: 7px;
    padding-top: 8px;
}

.btn1 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 130px;
    height: 34px;
    border: 1px solid #ece6e6;
    background-color: white;
    border-radius: 120px;
    text-align: center;
    align-items: center;
    font-size: small;
    font-weight: bold;
    padding: 0px;
    box-shadow: 1px 1px 0.5px#F2F2F2;
    color: black;
    margin: 10px;
    margin-bottom: 0px;
}

.btn1:hover {
    transform: scale(1.2);
}

.btn2 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100px;
    height: 34px;
    border: 1px solid #ece6e6;
    background-color: white;
    border-radius: 120px;
    text-align: center;
    align-items: center;
    font-size: small;
    font-weight: bold;
    padding: 0px;
    box-shadow: 1px 1px 0.5px#F2F2F2;
    color: black;
    margin: 10px;
    margin-bottom: 0px;
}

.btn2:hover {
    transform: scale(1.2);
}

.btn3 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 125px;
    height: 34px;
    border: 1px solid #ece6e6;
    background-color: white;
    border-radius: 120px;
    text-align: center;
    align-items: center;
    font-size: small;
    font-weight: bold;
    padding: 0px;
    box-shadow: 1px 1px 0.5px#F2F2F2;
    color: black;
    margin: 10px;
    margin-bottom: 0px;
}

.btn3:hover {
    transform: scale(1.2);
}

.btn4 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 170px;
    height: 34px;
    border: 1px solid #ece6e6;
    background-color: white;
    border-radius: 120px;
    text-align: center;
    align-items: center;
    font-size: small;
    font-weight: bold;
    padding: 0px;
    box-shadow: 1px 1px 0.5px#F2F2F2;
    color: black;
    margin: 10px;
    margin-bottom: 0px;
}

.btn4:hover {
    transform: scale(1.2);
}

i.fa-search{
    display: none;
}

.fa-info {
    display: inline-block;
    border: 1px solid #F2F2F2;
    align-items: center;
    color: #0065fc;
    padding-right: 0px;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 0px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 7px;
    background-color: #ffff;
    font-size: 9px;
    box-shadow: 2px 1px 0.5px whitesmoke;
}

.HM {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 33px;
    margin-bottom: -10px;
    width: fit-content;
    font-size: 16px;
    font-weight: bolder;
}

.titreHotel {
    font-weight: bolder;
    font-size: 12px;
    margin-left: 7px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.NI {
    font-size: 11px;
    margin-left: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.Istars {
    background-color: #ffff;
    color: #0065fc;
    margin-left: 7px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.AP {
    font-weight: bolder;
    font-size: small;
    margin-top: 12px;
    margin-left: 33px;
    margin-bottom: 20px;
}

.fa-chart-line {
    position: relative;
    top: -10px;
    margin-right: -196px;
    font-size: 16px;
    font-weight: bolder;
}

.HMHori {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: -70px;
    margin-bottom: -10px;
    width: fit-content;
    font-size: 14px;
    font-weight: bolder;
}

.CartehotelHori {
    box-shadow: 0 0 20px #0000002e;
    display: flex;
    align-items: flex-start;
    height: 80px;
    width: 210px;
    border: 1px solid white;
    background-color: #ffff;
    border-radius: 10px;
    text-align: left;
    font-size: 9px;
    caption-side: top;
    padding: 3px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 34px;
}

.CartehotelHori:hover {
    transform: scale(1.1);
}

.carteHori {
    height: 100%;
    background-color: #ffff;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.titreHotelHori {
    align-items: flex-start;
    justify-content: flex-start;
    caption-side: top;
    margin-left: 10px;
    margin-top: -2px;
}

.NIHori {
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    caption-side: top;
    margin-left: 10px;
    margin-top: 5px;
}

.IstarsHori {
    background-color: #ffff;
    color: #0065fc;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.Marseille {
    width: fit-content;
    margin-left:41px;
    font-size: medium;
    margin-bottom: 10px;
    font-weight: bolder;
}

.lescartesbas {
    display: inline-flex;
    gap: 3px;
    /* justify-content:space-between; */
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 9px;
    background-color: white;
    padding: 0px;
    margin-left: 4% ;

}

.activiteaMarseille {
    padding: 0px;
    margin: 0px;
    margin-bottom: 40px;
}

.activitePortrait {
    box-shadow: 0 0 20px #0000002e;
    display: block;
    height: 360px;
    width: 203px;
    font-size: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0px;
    margin:0px;
    margin-bottom: 5px;
}

.activitePortrait:hover {
    transition: transform 1ms;
    transform: scale(1.2);
}

.activitePortraitCap {
    padding-left: 12px;
    padding-top: 9px;
    font-weight: bolder;
    font-size: larger;
    background-color: white;
}

.activiteLandscape {
    box-shadow: 0 0 20px #0000002e;
    display: block;
    height: 170px;
    width: auto;
    background-color: white;
    border: 0.1px solid transparent;
    text-align: justify;
    border-radius: 10px;
    font-size: 10px;
    /* box-shadow: 7px -5px -3px #ffff; */
    padding-top: 0px;
    background-size: cover;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.activiteLandscape:hover {
    transition: transform 1ms;
    transform: scale(1.2);
}

.activiteLandscapeCap {
    padding-left: 12px;
    padding-top: 7px;
    font-weight: bolder;
    font-size: larger;
    background-color: transparent;
}

ul {
    list-style: none;
    display: inline-flex;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 12px;
}

.ReserviaHebergement {
    display: flex;
    flex-direction: row;
    top: 12px;
    right: 12px;
    justify-content: space-between;
    padding-top: 8px;
    margin-right: 40px;
    cursor: pointer;
    font-size: 11px;
}

.ReserviaHebergement a:hover {
    cursor: pointer;
}

.Hebergement {
    justify-content: space-evenly;
    position: relative;
    top: auto;
    right: 12px;
    color: #0065fc;
    padding: 20px;
    font-weight: bolder;
}

.Activite {
    justify-content: space-evenly;
    border-top: 1px solid transparent;
    top: auto;
    right: 0px;
    padding: 20px;
    font-weight: bolder;
}

a:hover.Activite{
    border-top: 1px solid #0065fc;
}

a:visited .Activite{
    color: grey;
}

.inscription {
    justify-content: space-evenly;
    top: auto;
    right: 0px;
    padding: 20px;
    color: #0065fc;
    font-weight: bolder;
}

.locationI {
    display: flex;
    width: 35px;
    height: 35px;
    background-color: #f2f2f2;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    align-items: center;
    justify-content: center;
}

.activitePortraitCarte {
    object-fit: cover;
    display: block;
    height: 325px;
    width: 200px;
    background: cover;
    border: 1px solid transparent;
    text-align: center;
    border-bottom-color: whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 0px;
    box-shadow: 2px 1px 0.3px whitesmoke;
    font-weight: bolder;
}

.activiteLandscapeCarte {
    object-fit: cover;
    height: 136px;
    width: 203px;
    background-color: #ffff;
    border-bottom: #ffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 10px;
}

.footer {
    display: grid;
    grid-template-columns:170px 170px 170px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    padding-bottom:20px;
    margin:auto;
}

footer a {
    color: black;
}

.footer1 {
    display: block;
    margin-left:-80px;
}

.footer2 {
    flex-direction: column;
    align-content: flex-end;
    align-items: stretch;
    justify-content: center;
    display: block;
    list-style: none;
    padding:0px;
}

.footer3 {
    display: block;
    flex-direction: column;
    /* align-content: flex-end; */
    /* align-items: stretch; */
    /* justify-content: center; */
    list-style: none;
    /* padding-left: 18px; */
    /* margin-right: 40px; */
    padding:0px;
}

footer ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.footerTitle {
    font-weight: bold;
    font-size: larger;
}

.footerLink {
    font-weight: normal;
    font-size: small;
    margin-bottom: 20px;
}

/* ------------------ 375px Breakpoint ------------------------- */
@media screen and (max-width: 375px) {
    html, body {
        margin-right:0px;
        /* display:flex;
        flex-wrap: wrap; */
    }
    .logo {
        margin-left:12px;
        margin-bottom: 20px;
    }
    .ReserviaHebergement {
        display:inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        margin-left: -10px;
        font-size: 15px;
    }
    .Hebergement {
        width:100%;
        height: fit-content;
        border-bottom: 1px solid blue;
        color: #0065fc;
        font-weight: bolder;
        margin-left: -28px;
        height: fit-content;
    }
    .Activite {
        width:100%;
        height: fit-content;
        font-weight: bolder;
        margin-left: 0px;
        /* height: fit-content; */
        margin-left: 23px;   
    }
    .Activite a:hover{
        border-bottom: 1px solid blue;
    }

    .inscription {
        display:flex;
        color: #0065fc;
        font-weight: bolder;
        margin-top:-80px;
        margin-left: -70px;
    }
    
    .TrouvezvotreHebergement {
        width: fit-content;
        margin-left: 5px;
        margin-right: 5px;
        width:80%;
        font-size: 23px;
    }

    .centreville{
        width: fit-content;
        /* margin: 0px; */
        margin-right: 30px;
        width:288px;
        font-size:17px;
        font-weight: lighter;

    }
    .Btns {
        width:210px;
        height: 35px;
        /* margin: 0px; */
        padding: 0px;
    }
    .Btn {
        display: none;
    }

    i.fa-search{
        display: inline-flex;
        flex-direction: row;
        width: fit-content;
        color: white;
        background-color: #0065fc;
        border: 1px solid #0065fc;
        border-radius: 10px;
        padding: 10px;
        font-size: 12px;
        font-weight: bold;
        margin:0px;
        margin-left: -10px;;
    }
    .filtres{
        display:block;
        flex-direction: column;
        margin-top: 0px;

    }
    .btn1and2{
     display: flex;
     flex-direction: row;
     /* flex-wrap: wrap; */
     margin-left: -67px;
     margin-top: 15px;
       
    }
    .btn2{
        margin-left: 88px;


    }
    .btn3{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -265px;
        margin-top: 70px;

    }
    
    .btn3and4{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
    .plude500 {
        font-size: 16px;
        width:70%;
        margin-left: -3px;
  
    
    }
    .lescartesdemarseille {
        background-color:transparent;
        display: inline-flex;
        flex-direction: column-reverse;
        padding:0px;
        margin: 0px;
        width: 100%;
    }
    .b {
        background-color:transparent ; 
        margin-left: 5px;
        margin-right: 5px;
        padding: 0px;
        margin-top: 5px;
        width: 100%;
        justify-items: center;
    }
    .HM {
        font-size: large;
        margin-bottom: 0px;
        margin-left: 12px;
    }
    .HMHori {
        font-size: large;
        margin-left: -100px; 
        margin-bottom: 0px;
        align-items: left;
        /* align-items: flex-start; */
    }
    .fa-chart-line {
        position: relative;
        top: -20px;
        margin-right: -255px; 
        font-size: 16px;
    }
    .b1 {
        align-items: center;
        /* margin: 0px; */
        padding: 0px;
        margin-left:-29px ;
        margin-right:px; 
        margin-top: 30px;
        width: 100%;
        height:fit-content;
        justify-items: center;
        /* background-color: red; */
    }
    .lescartes {
        background-color: transparent;
        display: inline-flex;
        flex-direction: column;
        width: 80%;
        margin: 0px;
        height: auto;
    }
    .Cartehotel {
        /* background-color:yellow; */
        width: 100%;
        height:8%;
        margin: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        align-items: center;
    }
    .titreHotel, .NI, .Istars{
        font-size: 16px;;
    }
    .Cartehotel:hover {
        transform: none;
    }
    .carte {
        background-color:grey;
        width: 100%;
        height: 70px;
        object-fit: cover;
    }
    /* .activitePortrait{
        width: 100%;
        height:8%;
        margin: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    } */
    .carteHori{
        background-color: black;
        height: 120px;
        width: 110px;
    }
    .CartehotelHori {
        margin-bottom: 25px; 
        width:75%;
        height: auto;
        font-size: 2px;
        /* margin-left:10px;
        margin-right: 5px; */
        /* margin: 20px; */
        font-size: 12px;  

    }
    .CartehotelHori:hover {
        transform: 1:2;
    }
    .lescartesbas {
        /* background-color: bisque; */
        width: 95%;
        margin-left: -3px;
        margin-right:0px ;
        display: inline-flex;
        flex-direction: column;
    }
    .footer {
        display: inline-flex;
        flex-direction: column;
        margin-left: 10px;
        padding: 0px;
        padding-bottom: 30px;
        padding-right: 30px;
        width: 100%;
        font-size: 25px;
    }
    .footer1, .footer2, .footer3 {
        margin-left: 10px;
        margin-right: 0px;
    }
    .activitePortraitCarte, .activiteLandscapeCarte {
        width: 100%;
        margin: 0px;
        padding: 0px;
        height: 90px;
    
    }
    .activitePortrait {
        /* background-color:brown; */
        margin: 20px;
        padding: 0px;
        width: 79%;
        height:8%;
    }
    .activitePortrait:hover {
        transform: none;
    }
    .activitePortraitCap {
        font-size: large;
        /* background-color: red; */
        height:auto;
        width:auto ;
       
    }
    .activiteLandscape {
        margin: 20px;
        width: 95%;
        padding: 0px;
        height:auto;
        width:280px ;
    } 
    .activiteLandscape:hover {
        transform: none;
    }
    .activiteLandscapeCap {
        font-size: large;
        /* background-color: yellow; */
        width: 100%;
        height:vh;
    }
    .footerTitle {
        font-size: medium;
        font-weight: bolder;
        margin-bottom: 10px;
    }
    
    .footerLink {
        font-weight: normal;
        font-size: large;
        margin-bottom: 20px;
    }

    .Marseille{
        font-size: 24px;
        font-weight: bolder;
        margin-left: 13px;
    }
    .AP{
        font-size: 18px;
        font-weight: bolder; 
        margin-left: 10px;      
    }
}
